fastapi
uvicorn[standard]>=0.32.0
SQLAlchemy>=2.0
psycopg[binary]>=3.1
psycopg2-binary
alembic>=1.13
boto3
python-dotenv
requests
passlib[argon2,bcrypt]
numpy==1.26.4
Pillow==10.3.0
passlib[bcrypt]
matplotlib>=3.7.0
wordcloud>=1.9.0
scipy>=1.10.0
PyJWT>=2.8.0
redis>=5.0.0
